.public-header {
  width: 100vw;
  height: 3rem;
  display: flex;
  padding: 0 2rem;
  position: relative;
}

.public-content {
  height: calc(100vh - 6rem); /* 3rem for header, 3rem for footer */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 3rem; /* Balances the height of the header */
}

.tk-blob {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(32px);
  fill: rgb(230, 222, 252);
}
